@font-face {
  font-family: 'Alfredino';
  src: url(./fonts//Alfredino\ Semimono.ttf);
}

.message-about {
  margin-top: 1em;
}

.message-button {
  margin: 10px;
}

.message-answer {
  color: #e03d2e;
  margin: 20px;
}

.message-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-box {
  outline: 1px dotted black;
  width: 90%;
  height: 100%;
  padding: 1em;
  margin: 20px;
}

.message-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-response-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;

  p {
    font-size: 0.8em;
    text-align: center;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-home {
  margin: 20px;
}

.banner-sign {
  margin: 10px 0;
  color: #a0a0a0;
  font-size: 0.7em;
  font-weight: 100;
  a {
    color: #a16666;
    text-decoration: none;
  }
}
